
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.textc {

    text-align: center;
}

.button {
    background-color: rgb(214, 214, 214);
    border: none;
    font-family: fangsong;
    font-weight: 700;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid black;
}

.button-equal {
    background-color: rgb(0 0 0);
    border: none;
    font-family: fangsong;
    font-weight: 700;
    color: #ffffff;
    padding: 15px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid black; 
}

.container.flex.flex-col.items-center.bg-red.mx-auto.m-w-20 {
    display: block;
    text-align: center;
}

.row {
    margin: 9px 0;

}

.input-calc {
    width: 316px;
    font-family: open-sans, sans-serif;
    height: 45px;
    font-size: 29px;
    text-align: right;
}